<div class="card">
  <div class="card-body">
    <h2 class="card-title d-flex justify-content-between mb-4">
      <span>Projects</span>
      <%= link_to 'New Project', new_project_path, class: 'btn btn-primary' %>
    </h2>
    <% @projects.each do |project| %>
      <%= link_to project do %>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= project.name %></h5>
            <p><%= project.description %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
